{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section 
        class="avatar"
        style="background: url({{student.avatar_url}}) no-repeat center center / cover">

    </section>
    
    <section class="details">

        <h3>Detalhes</h3>

        <div class="item">
            <div>Nome completo</div>
            <div>{{student.name}}</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>{{student.age}}</div>
        </div>

        <div class="item">
            <div>Email</div>
            <div>{{student.email}}</div>
        </div>

        <div class="item">
            <div>Ano Escolar</div>
            <div>
                
                {% if student.school_year == "5"%} 5 º Ano do Ensino Fundamental {% endif %}
                {% if student.school_year == "6"%} 6 º Ano do Ensino Fundamental {% endif %}
                {% if student.school_year == "7"%} 7 º Ano do Ensino Fundamental {% endif %}
                {% if student.school_year == "8"%} 8 º Ano do Ensino Fundamental {% endif %}
                {% if student.school_year == "9"%} 9 º Ano do Ensino Fundamental {% endif %}
                {% if student.school_year == "1"%} 1 º Ano do Ensino Médio {% endif %}
                {% if student.school_year == "2"%} 2 º Ano do Ensino Médio {% endif %}
                {% if student.school_year == "3"%} 3 º Ano do Ensino Médio {% endif %}
            
            </div>
        </div>

        <div class="item">
            <div>Carga Horária</div>
            <div>{{student.workload}} horas</div>
        </div>

        <div class="item">
            <div>Professor</div>
            <div>{{student.teacher_name}}</div>
        </div>
        
        <form id="form-delete" method="POST" action="/students?_method=DELETE">
            <input type="hidden" name="id" value="{{student.id}}">
            <a href="/students/{{student.id}}/edit" class="button">Editar</a>
            <button type="submit">Deletar</button>
            
        </form>

        <script>
        const formDelete = document.querySelector("#form-delete");
        formDelete.addEventListener("submit", (event) => {
            const confirmation = confirm("Deseja deletar?");
            if (!confirmation) {
                event.preventDefault();
            }
        });
        </script> 
            
    </section>
</div>



{% endblock content %}