<div class="item">
            <div>Avatar URL:</div>
            <div>
                <input 
                    type="url"
                    name="avatar_url"
                    placeholder="http://"
                    value="{{ teacher.avatar_url }}"
                >
            </div>
        </div>

        <div class="item">
            <div>Professor:</div>
            <div>
                <input 
                    type="text"
                    name="name"
                    placeholder="Nome do Professor"
                    value="{{ teacher.name }}"
                >
            </div>
        </div>


        <div class="item">
            <div>Data de nascimento:</div>
            <div>
                <input 
                    type="date" 
                    name="birth_date"
                    value="{{ teacher.birth_date }}"
                >
            </div>
        </div>

        <div class="item select">
            <div>Grau de Escolaridade:</div>
            <div>
                <span>
                    <select name="education_level" id="">
                        <option value="Ensino Médio Completo" {% if teacher.education_level == 'Ensino Medio Completo' %}
                        selected
                        {% endif %}>Ensino Médio Completo</option>
                        <option value="Ensino Superior Completo"{% if teacher.education_level == 'Ensino Superior Completo' %}
                        selected
                        {% endif %}>Ensino Superior Completo</option>
                        <option value="Mestrado" {% if teacher.education_level == 'Mestrado' %}
                        selected
                        {% endif %}>Mestrado</option>
                        <option value="Doutorado"{% if teacher.education_level == 'Doutorado' %}
                        selected
                        {% endif %}>Doutorado</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="item check">
            <div>Tipo de aula:</div>
            <div>
                <span><input type="radio" name="class_type" value="Presencial" {% if teacher.class_type == 'Presencial' %}
                        checked
                        {% endif %}> Presencial </span>
                <span><input type="radio" name="class_type" value="À distância" {% if teacher.class_type == 'À distância' %}
                        checked
                        {% endif %}> À distância </span>
            </div>
        </div>

        <div class="item">
            <div>Área de atuação:</div>
            <div>
                <input 
                    type="text"
                    name="subjects_taught"
                    placeholder="Separe os serviços prestados por vírgula"
                    value="{{teacher.subjects_taught}}"
                >
            </div>
        </div>

        <button type="submit">Salvar</button>