{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/teachers">
    <section 
        class="avatar" 
        style="background: url(https://source.unsplash.com/collection/8749815/800x800) no-repeat center center / cover">
    
    </section>
    <section class="details">

        <h3>Novo Professor</h3>

        <div class="item">
            <div>Avatar URL:</div>
            <div>
                <input 
                    type="url"
                    name="avatar_url"
                    placeholder="http://"
                >
            </div>
        </div>

        <div class="item">
            <div>Professor:</div>
            <div>
                <input 
                    type="text"
                    name="name"
                    placeholder="Nome do Professor"
                >
            </div>
        </div>


        <div class="item">
            <div>Data de nascimento:</div>
            <div>
                <input 
                    type="date" 
                    name="birth"
                >
            </div>
        </div>

        <div class="item">
            <div>Graude de Escolaridade:</div>
            <div>
                <span>
                    <select name="grade" id="">
                        <option value="Ensino Médio Completo">Ensino Médio Completo</option>
                        <option value="Ensino Superior Completo">Ensino Superior Completo</option>
                        <option value="Mestrado">Mestrado</option>
                        <option value="Doutorado">Doutorado</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="item">
            <div>Tipo de aula:</div>
            <div>
                <span><input type="radio" name="type" value="Presencial" checked> Presencial </span>
                <span><input type="radio" name="type" value="À distância"> À distância </span>
            </div>
        </div>

        <div class="item">
            <div>Área de atuação:</div>
            <div>
                <input 
                    type="text"
                    name="services"
                    placeholder="Separe os serviços prestados por vírgula"
                >
            </div>
        </div>

        <button type="submit">Salvar</button>

    </section>
</form>

{% endblock content %}